* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

:root {
    --gradient: linear-gradient(180deg, #C1DBE3, #F0F7EE);
    --darkBlue: #1E2944;
    --lightGreen: #799D4C;
    --lightBlue: #2B65AD;
}

body {
    font-family:"Manrope", sans-serif;
}

h1, h3, h4, h5 {
    color:var(--darkBlue);
}

  h1 {
      font-size: 3.25rem;
      line-height: 110%;
  }

  h3 {
      font-size: 1.875rem;
  }

  h4 {
      font-size: 1.7rem;
      font-weight:400;
  }

  h5 {
      font-size: 1.5rem;
  }

  textarea {
      font-family:"Manrope";
      font-weight:400;
  }

.greenUnderline {
    width:85%;
    margin-top:20px;
}

li {
    list-style-type: none;
}

.heroList {
    margin:16px 0;
}

.greenBtn {
    background: var(--lightGreen);
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    margin:16px auto;
    display:inline-block;
    text-decoration:none;
}

.hero .right {
    text-align:center;
}

#maxContainer {
    max-width:1200px;
    margin:0 auto;
}

  
@media screen and (min-width:1020px) {
    .hero {
        padding:5rem 8rem;
        background:var(--gradient);
    }
}

.hero {
    padding: 5rem 2rem;
    background: var(--gradient);
    overflow:hidden;
}
 
.heroLogo {
        width: 250px;
    }



.flex-container {
    align-items: center;
}

 @media screen and (min-width:1000px) {
     .flex-container {
         display: flex;
     }
 }

.hero .flex-container {
    margin-top: 5rem;
}
    .flex {
         flex: 1;
    }

    .hero h1 {
        color:var(--darkBlue);
        font-weight:700;
    }

    .hero h5 {
         color: var(--lightGreen);
         margin-top:16px;
    }

    .heroList li, .hero p {
         font-size: 16px;
    }

    .heroList li {
        margin:16px 0 16px 20px;
    }

    .heroList li::before {
        content:url('./images/checkmark-sm.png');
        position:relative;
        top:5px;
        left:-10px;
    }

    .free {
        color:var(--darkBlue);
        position:relative;
    }

    .free::after {
        content:url('./images/squiggle.svg');
        position:absolute;
       top:80%;
       transform:scale(0.4);
       left:-55%;
    }

    .heroImg {
        width:100%;
    }

    @media screen and (min-width:1000px) {
    .formSection {
     padding: 5rem 8rem;
    }
}
.formSection {
    padding: 5rem 2rem;
    overflow: hidden;
}
    

    .formSection .left {
        padding:0px 30px;
    }

        .formList {
            margin-top: 20px;
        }
    
        .formList li {
            margin: 30px 0 30px 30px;
            font-size: 18px;
            color: var(--darkBlue);
            position: relative;
        }
    
        .formList .first::before {
            content: "1";
            font-size: 36px;
            margin-right: 8px;
            color: var(--lightGreen);
            font-weight: bold;
            position: absolute;
            left: -35px;
            top: -15px;
        }
    
        .formList .second::before {
            content: "2";
            font-size: 36px;
            margin-right: 8px;
            color: var(--lightGreen);
            font-weight: bold;
            position: absolute;
            left: -35px;
            top: -15px;
        }
    
        .formList .third::before {
            content: "3";
            font-size: 36px;
            margin-right: 8px;
            color: var(--lightGreen);
            font-weight: bold;
            position: absolute;
            left: -35px;
            top: -15px;
        }

   .formSection .right {
        background: #1B4164;
        padding:2rem;
    }

    .formSection .right h2 {
        color:white;
        font-size:2rem;
        max-width:400px;
        margin:0 auto;
        text-align: center;
    }
    .formSection .right img {
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

    .snappyForm {
        text-align:center;
        margin-top:24px;
        position:relative;
    }

    .snappyForm input, .snappyForm textarea {
        width:80%;
        padding:16px;
        border-radius:4px;
        margin:5px 0px;
        border:none;
    }

    .snappyForm #email, .snappyForm #phone, .snappyForm #first, .snappyForm #last {
        width:40%;
    }
    
    .snappyForm .greenBtn {
        background:var(--lightGreen);
        width:auto;
        padding:15px 30px;
        color:white;
        text-transform:uppercase;
        font-family:"Manrope", sans-serif;
        letter-spacing:1px;
        font-weight:bold;
        margin-top:16px;
    }

    .snappyForm::after {
        content:url('./images/arrow.svg');
        position:absolute;
        bottom:5px;
        right:-100px;
    }



footer {
    background:var(--darkBlue);
    padding:40px 0;
    overflow: hidden;
}

.footerLeft, .footerRight {
    color:white;
    font-size:12px;
    text-align:center;
    display:flex;
}

.footerLeft {
    justify-content: flex-end;
    padding-right:50px;
    
}
.footerRight {
    justify-content: flex-start;
    padding-left: 50px;
    border-left: 1px solid white;
}


/* Thank you page */

.hero__thankHeader {
    text-align: center;
}

.hero__thankText {
    text-align: center;
    margin-top: 5rem;
}

.hero .hero__thankText h1 {
    color: var(--lightBlue);
    max-width:700px;
    margin:0 auto;
}

.hero .hero__thankText h5 {
    color: var(--darkBlue);
    font-weight:400;
}

.thank__hero .flex-container {
    align-items:unset;
}

.thankCol {
    background:var(--darkBlue);
    text-align:center;
    margin:0 30px;
    padding:20px;
}

.thankCol img {
    height:150px;
    margin-top:-50px;
}

.thankCol h4 {
    color:white;
    font-size:1.3rem;
    margin:20px auto;
}

.formPhoto {
    width:100%;
}
 
.formSection .right__thank  {
    background:white;
    text-align:center;
}

.formSection .thankForm input, .formSection .thankForm textarea{
    border:1px solid gray;
}

.snappyForm.thankForm::after {
    content: url('./images/bluearrow.svg');
    position: absolute;
    bottom: -25px;
    left:30%;
    transform:scale(0.5);
}